
    /* Menu con colores y horizontal*/
            
nav a{
    text-decoration:none;
    color:inherit;
    font-size:20px;
    } 
    nav li{
    display:inline-block;
    width:13%;
    padding:10px 20px;
    background-color:#457ae5;
    border:1px solid #763ce2;
    text-align:center;
    color:#fff;
    }
    nav li:hover{
    background-color:#0252f2;
    color:#fff;
    }

    /* Alinear texto al centro */

    h1 {
        text-align: center;
      }

    h2 {
        text-align: center;
      }

      #outerdiv {width: 100%; height: 80%; position:fixed; text-align:center}
      #vid_go {width: 70%; height: 80%; margin:0px auto; display:inline-block}

      html {
        min-height: 100%;
        position: relative;
      }
      body {
        margin: 0;
        margin-bottom: 10px;
      }
      footer {
        
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
      }